In [11]:
import prep_data
import pandas as pd

In [12]:
X_train, X_test, y_train, y_test = prep_data.create_train_test_df(50)

In [13]:
X_train

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
13870,3990200065,10/22/2014,4,2.50,2050,9143,2.0,0.0,0.0,3,8,2050,0.0,1992,0.0,98166,47.4597,-122.355,1510,9484
3814,2785000110,6/5/2014,4,2.25,1330,8400,1.5,0.0,0.0,3,8,1330,0.0,1962,0.0,98005,47.6078,-122.169,2270,10146
9823,6865200831,5/7/2014,2,1.00,820,2723,1.0,0.0,0.0,3,7,820,0.0,1921,0.0,98103,47.6623,-122.339,1370,3850
9129,6052400975,8/26/2014,3,1.00,1590,8160,1.0,0.0,1.0,3,7,1090,500.0,1954,0.0,98198,47.4013,-122.321,1540,10500
6648,7950302210,11/14/2014,4,2.00,2200,3060,1.0,0.0,0.0,3,7,1100,1100.0,1908,NaN,98118,47.5650,-122.284,1410,5100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912,9522100485,5/15/2014,5,1.75,2000,3750,2.0,NaN,0.0,4,7,2000,0.0,1921,0.0,98103,47.6618,-122.355,1520,3750
13407,7236300065,7/18/2014,3,1.50,1320,7695,1.0,0.0,0.0,4,7,1320,0.0,1959,0.0,98056,47.4908,-122.181,1370,8295
9516,1310960220,6/26/2014,4,2.25,2070,7350,2.0,NaN,0.0,4,8,2070,?,1977,0.0,98032,47.3615,-122.274,2080,7210
2966,1446801030,8/22/2014,4,1.75,1660,11664,1.0,0.0,0.0,3,6,1010,650.0,1952,NaN,98168,47.4943,-122.331,1670,9975
20466,3278612370,8/11/2014,3,2.50,1580,2765,2.0,0.0,0.0,3,8,1580,0.0,2011,0.0,98126,47.5444,-122.369,1580,1820

In [14]:
X_train_clean = prep_data.clean_df(X_train)
X_train_clean

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,zipcode,lat,long
13870,4,2.50,2050,9143,2.0,0.0,0.0,8,1992,98166,47.4597,-122.355
3814,4,2.25,1330,8400,1.5,0.0,0.0,8,1962,98005,47.6078,-122.169
9823,2,1.00,820,2723,1.0,0.0,0.0,7,1921,98103,47.6623,-122.339
9129,3,1.00,1590,8160,1.0,0.0,1.0,7,1954,98198,47.4013,-122.321
6648,4,2.00,2200,3060,1.0,0.0,0.0,7,1908,98118,47.5650,-122.284
...,...,...,...,...,...,...,...,...,...,...,...,...
7912,5,1.75,2000,3750,2.0,0.0,0.0,7,1921,98103,47.6618,-122.355
13407,3,1.50,1320,7695,1.0,0.0,0.0,7,1959,98056,47.4908,-122.181
9516,4,2.25,2070,7350,2.0,0.0,0.0,8,1977,98032,47.3615,-122.274
2966,4,1.75,1660,11664,1.0,0.0,0.0,6,1952,98168,47.4943,-122.331
20466,3,2.50,1580,2765,2.0,0.0,0.0,8,2011,98126,47.5444,-122.369

In [15]:
X_train_dist = prep_data.distance_calc(X_train_clean)
X_train_dist

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,zipcode,...,long,lat_and_long,dist_from_bellevue,dist_from_seattle,dist_from_seatac,dist_from_snoq,dist_from_vanc,dist_from_oly,dist_from_tacoma,dist_from_stevens
13870,4,2.50,2050,9143,2.0,0.0,0.0,8,1992,98166,...,-122.355,"(47.4597, -122.355)",12.999984,10.177479,2.262063,24.871444,50.456312,62.958610,14.888648,62.346327
3814,4,2.25,1330,8400,1.5,0.0,0.0,8,1962,98005,...,-122.169,"(47.6078, -122.169)",0.893916,7.621015,12.701653,16.147375,55.621158,68.269805,27.706888,51.272828
9823,2,1.00,820,2723,1.0,0.0,0.0,7,1921,98103,...,-122.339,"(47.6623, -122.339)",7.928440,3.889097,14.720856,24.861146,62.223718,59.764554,28.710040,58.571169
9129,3,1.00,1590,8160,1.0,0.0,1.0,7,1954,98198,...,-122.321,"(47.4013, -122.321)",15.708779,14.164940,3.426262,24.628855,46.228746,66.050848,11.774536,62.293865
6648,4,2.00,2200,3060,1.0,0.0,0.0,7,1908,98118,...,-122.284,"(47.565, -122.28399999999999)",5.465225,3.627114,8.015412,20.934895,55.061018,63.740284,22.833889,57.146454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912,5,1.75,2000,3750,2.0,0.0,0.0,7,1921,98103,...,-122.355,"(47.6618, -122.355)",8.585857,3.987258,14.777212,25.555619,62.525666,59.034689,28.556587,59.317419
13407,3,1.50,1320,7695,1.0,0.0,0.0,7,1959,98056,...,-122.181,"(47.4908, -122.181)",8.242546,10.654002,6.610965,16.447364,48.355378,69.845072,20.561859,53.942347
9516,4,2.25,2070,7350,2.0,0.0,0.0,8,1977,98032,...,-122.274,"(47.3615, -122.274)",17.636435,17.122470,6.341321,23.936571,42.711897,69.236212,10.968865,61.421639
2966,4,1.75,1660,11664,1.0,0.0,0.0,6,1952,98168,...,-122.331,"(47.4943, -122.331)",10.427697,7.730785,3.219184,23.317635,51.861073,63.135788,17.503704,60.539214
20466,3,2.50,1580,2765,2.0,0.0,0.0,8,2011,98126,...,-122.369,"(47.5444, -122.369)",9.605424,4.604802,7.091872,24.853823,55.742392,60.332191,20.445151,61.342150

In [16]:
X_train_hyb = prep_data.generate_hybrid_data(X_train_dist)
X_train_hyb

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,zipcode,...,beds_and_baths,squared_living,sqft_per_bedroom,dist_seatac_seattle,dist_seatac_bellevue,square_dist_seatac,square_seatac_bellevue,sqft_times_grade,water_weight,view_weight
13870,4,2.50,7.625595,9143,2.0,0.0,0.0,8,1992,98166,...,2.302585,4.063021,0.645216,6.219771,7.631023,5.116927,58.232514,4.110952,2.031510,2.031510
3814,4,2.25,7.192934,8400,1.5,0.0,0.0,8,1962,98005,...,2.197225,3.946198,0.586805,10.161334,6.797785,161.331991,46.209877,4.052541,1.973099,1.973099
9823,2,1.00,6.709304,2723,1.0,0.0,0.0,7,1921,98103,...,0.693147,3.806991,1.210348,9.304977,11.324648,216.703609,128.247660,3.849405,1.903495,1.903495
9129,3,1.00,7.371489,8160,1.0,0.0,1.0,7,1954,98198,...,1.098612,3.995240,0.899007,8.795601,9.567520,11.739269,91.537442,3.943530,1.997620,2.690767
6648,4,2.00,7.696213,3060,1.0,0.0,0.0,7,1908,98118,...,2.079442,4.081457,0.654434,5.821263,6.740319,64.246831,45.431895,3.986638,2.040728,2.040728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912,5,1.75,7.600902,3750,2.0,0.0,0.0,7,1921,98103,...,2.169054,4.056534,0.418829,9.382235,11.681534,218.366008,136.458248,3.974177,2.028267,2.028267
13407,3,1.50,7.185387,7695,1.0,0.0,0.0,7,1959,98056,...,1.504077,3.944099,0.873437,8.632484,7.426756,43.704863,55.156697,3.917960,1.972049,1.972049
9516,4,2.25,7.635304,7350,2.0,0.0,0.0,8,1977,98032,...,2.197225,4.065565,0.646488,11.731895,11.988878,40.212350,143.733192,4.112224,2.032783,2.032783
2966,4,1.75,7.414573,11664,1.0,0.0,0.0,6,1952,98168,...,1.945910,4.006895,0.617153,5.474985,6.823441,10.363149,46.559346,3.795207,2.003447,2.003447
20466,3,2.50,7.365180,2765,2.0,0.0,0.0,8,2011,98126,...,2.014903,3.993527,0.898151,5.848337,8.348648,50.294655,69.699929,4.076205,1.996764,1.996764

In [17]:
X_train_hyb.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'grade', 'yr_built', 'zipcode',
       'dist_from_bellevue', 'dist_from_seattle', 'dist_from_seatac',
       'dist_from_snoq', 'dist_from_vanc', 'dist_from_oly', 'dist_from_tacoma',
       'dist_from_stevens', 'beds_and_baths', 'squared_living',
       'sqft_per_bedroom', 'dist_seatac_seattle', 'dist_seatac_bellevue',
       'square_dist_seatac', 'square_seatac_bellevue', 'sqft_times_grade',
       'water_weight', 'view_weight'],
      dtype='object')

In [18]:
ss, scaled = prep_data.fit_transform_standard_scale(X_train_hyb)
scaled

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,dist_from_bellevue,...,squared_living,sqft_per_bedroom,dist_seatac_seattle,dist_seatac_bellevue,square_dist_seatac,square_seatac_bellevue,sqft_times_grade,water_weight,view_weight,zipcode
13870,0.695019,0.502646,0.176506,-0.145314,0.933799,-0.082691,-0.302144,0.294295,0.717120,0.389163,...,0.202819,-0.793175,-1.243201,-1.058458,-1.200774,-0.851425,0.343301,0.080353,-0.272535,98166
3814,0.695019,0.175631,-0.850050,-0.163472,0.009247,-0.082691,-0.302144,0.294295,-0.305695,-1.776189,...,-0.839192,-1.028505,-0.450764,-1.257059,-0.296442,-0.948822,0.041669,-0.624186,-0.427347,98005
9823,-1.518573,-1.459441,-1.997538,-0.302211,-0.915305,-0.082691,-0.302144,-0.561639,-1.703542,-0.517959,...,-2.080873,1.483662,-0.622931,-0.178089,0.024105,-0.284220,-1.007310,-1.463729,-0.611824,98103
9129,-0.411777,-1.459441,-0.426400,-0.169337,-0.915305,-0.082691,1.004618,-0.561639,-0.578446,0.873671,...,-0.401763,0.229315,-0.725339,-0.596897,-1.162438,-0.581616,-0.521256,-0.328425,1.474744,98198
6648,0.695019,-0.151383,0.344057,-0.293975,-0.915305,-0.082691,-0.302144,-0.561639,-2.146762,-0.958542,...,0.367261,-0.756037,-1.323319,-1.270756,-0.858470,-0.955125,-0.298646,0.191538,-0.248104,98118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912,1.801815,-0.478398,0.117919,-0.277112,0.933799,-0.082691,-0.302144,-0.561639,-1.703542,-0.400370,...,0.144960,-1.705256,-0.607399,-0.093025,0.033729,-0.217705,-0.362996,0.041233,-0.281131,98103
13407,-0.411777,-0.805412,-0.867957,-0.180701,-0.915305,-0.082691,-0.302144,-0.561639,-0.407977,-0.461777,...,-0.857919,0.126295,-0.758133,-1.107145,-0.977388,-0.876343,-0.653300,-0.636848,-0.430129,98056
9516,0.695019,0.175631,0.199542,-0.189133,0.933799,-0.082691,-0.302144,0.294295,0.205712,1.218462,...,0.225518,-0.788049,-0.135008,-0.019771,-0.997606,-0.158769,0.349871,0.095701,-0.269163,98032
2966,0.695019,-0.478398,-0.324177,-0.083704,-0.915305,-0.082691,-0.302144,-1.417574,-0.646634,-0.070929,...,-0.297803,-0.906237,-1.392937,-1.250944,-1.170404,-0.945991,-1.287188,-0.258134,-0.346913,98168
20466,-0.411777,0.502646,-0.441370,-0.301184,0.933799,-0.082691,-0.302144,0.294295,1.364903,-0.218005,...,-0.417038,0.225865,-1.317876,-0.887414,-0.939240,-0.758525,0.163870,-0.338753,-0.364628,98126

In [19]:
scaled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16197 entries, 13870 to 20466
Data columns (total 28 columns):
bedrooms                  16197 non-null float64
bathrooms                 16197 non-null float64
sqft_living               16197 non-null float64
sqft_lot                  16197 non-null float64
floors                    16197 non-null float64
waterfront                16197 non-null float64
view                      16197 non-null float64
grade                     16197 non-null float64
yr_built                  16197 non-null float64
dist_from_bellevue        16197 non-null float64
dist_from_seattle         16197 non-null float64
dist_from_seatac          16197 non-null float64
dist_from_snoq            16197 non-null float64
dist_from_vanc            16197 non-null float64
dist_from_oly             16197 non-null float64
dist_from_tacoma          16197 non-null float64
dist_from_stevens         16197 non-null float64
beds_and_baths            16197 non-null float64
squared_living            16197 non-null float64
sqft_per_bedroom          16197 non-null float64
dist_seatac_seattle       16197 non-null float64
dist_seatac_bellevue      16197 non-null float64
square_dist_seatac        16197 non-null float64
square_seatac_bellevue    16197 non-null float64
sqft_times_grade          16197 non-null float64
water_weight              16197 non-null float64
view_weight               16197 non-null float64
zipcode                   16197 non-null int64
dtypes: float64(27), int64(1)
memory usage: 3.6 MB

In [20]:
ohe, X_train_ohe = prep_data.fit_transform_one_hot_encode_zipcodes(scaled)
X_train_ohe

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,dist_from_bellevue,...,x0_98146,x0_98148,x0_98155,x0_98166,x0_98168,x0_98177,x0_98178,x0_98188,x0_98198,x0_98199
13870,0.695019,0.502646,0.176506,-0.145314,0.933799,-0.082691,-0.302144,0.294295,0.717120,0.389163,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3814,0.695019,0.175631,-0.850050,-0.163472,0.009247,-0.082691,-0.302144,0.294295,-0.305695,-1.776189,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9823,-1.518573,-1.459441,-1.997538,-0.302211,-0.915305,-0.082691,-0.302144,-0.561639,-1.703542,-0.517959,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9129,-0.411777,-1.459441,-0.426400,-0.169337,-0.915305,-0.082691,1.004618,-0.561639,-0.578446,0.873671,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6648,0.695019,-0.151383,0.344057,-0.293975,-0.915305,-0.082691,-0.302144,-0.561639,-2.146762,-0.958542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912,1.801815,-0.478398,0.117919,-0.277112,0.933799,-0.082691,-0.302144,-0.561639,-1.703542,-0.400370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13407,-0.411777,-0.805412,-0.867957,-0.180701,-0.915305,-0.082691,-0.302144,-0.561639,-0.407977,-0.461777,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9516,0.695019,0.175631,0.199542,-0.189133,0.933799,-0.082691,-0.302144,0.294295,0.205712,1.218462,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2966,0.695019,-0.478398,-0.324177,-0.083704,-0.915305,-0.082691,-0.302144,-1.417574,-0.646634,-0.070929,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
20466,-0.411777,0.502646,-0.441370,-0.301184,0.933799,-0.082691,-0.302144,0.294295,1.364903,-0.218005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
X_train_ohe.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'grade', 'yr_built', 'dist_from_bellevue',
       'dist_from_seattle', 'dist_from_seatac', 'dist_from_snoq',
       'dist_from_vanc', 'dist_from_oly', 'dist_from_tacoma',
       'dist_from_stevens', 'beds_and_baths', 'squared_living',
       'sqft_per_bedroom', 'dist_seatac_seattle', 'dist_seatac_bellevue',
       'square_dist_seatac', 'square_seatac_bellevue', 'sqft_times_grade',
       'water_weight', 'view_weight', 'x0_98002', 'x0_98003', 'x0_98004',
       'x0_98005', 'x0_98006', 'x0_98007', 'x0_98008', 'x0_98010', 'x0_98011',
       'x0_98014', 'x0_98019', 'x0_98022', 'x0_98023', 'x0_98024', 'x0_98027',
       'x0_98028', 'x0_98029', 'x0_98030', 'x0_98031', 'x0_98032', 'x0_98033',
       'x0_98034', 'x0_98038', 'x0_98039', 'x0_98040', 'x0_98042', 'x0_98045',
       'x0_98052', 'x0_98053', 'x0_98055', 'x0_98056', 'x0_98058', 'x0_98059',
       'x0_98065', 'x0_98070', 'x0_98072', 'x0_98074', 'x0_98075', 'x0_98077',
       'x0_98092', 'x0_98102', 'x0_98103', 'x0_98105', 'x0_98106', 'x0_98107',
       'x0_98108', 'x0_98109', 'x0_98112', 'x0_98115', 'x0_98116', 'x0_98117',
       'x0_98118', 'x0_98119', 'x0_98122', 'x0_98125', 'x0_98126', 'x0_98133',
       'x0_98136', 'x0_98144', 'x0_98146', 'x0_98148', 'x0_98155', 'x0_98166',
       'x0_98168', 'x0_98177', 'x0_98178', 'x0_98188', 'x0_98198', 'x0_98199'],
      dtype='object')

In [22]:
X_test

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2653,9465200181,4/28/2015,4,1.50,2320,5534,1.5,0.0,0.0,4,7,1540,780.0,1915,0.0,98103,47.6944,-122.355,1670,5913
7269,339200130,5/31/2014,3,2.50,2460,12028,2.0,NaN,NaN,3,9,2460,0.0,1996,NaN,98052,47.6910,-122.095,2540,12229
17851,162500015,10/20/2014,5,2.00,2330,8586,1.0,0.0,0.0,4,7,1270,1060.0,1961,NaN,98133,47.7671,-122.334,1550,8287
11898,4067600160,4/2/2015,3,3.50,3240,23522,2.0,0.0,0.0,3,10,2130,1110.0,1992,0.0,98010,47.3388,-122.033,3180,23273
21122,2781230020,12/9/2014,4,2.50,2820,6666,2.0,0.0,0.0,3,9,2820,0.0,2007,0.0,98038,47.3473,-122.031,1880,7200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,2896600020,3/25/2015,3,1.75,1520,7700,1.0,0.0,0.0,3,7,820,700.0,1969,0.0,98034,47.7226,-122.219,1420,7674
18597,2491200330,9/18/2014,3,2.50,1690,5131,1.0,0.0,0.0,3,7,1690,0.0,1941,1998.0,98126,47.5234,-122.380,860,5137
19672,3796000400,11/20/2014,2,1.75,1250,1208,2.0,0.0,0.0,3,7,1040,210.0,2007,0.0,98144,47.6004,-122.299,1250,1656
13215,2976800749,10/31/2014,4,2.00,1460,7254,1.0,0.0,0.0,3,6,1460,0.0,1959,0.0,98178,47.5056,-122.254,1460,7236
20587,3333001997,7/25/2014,3,2.00,1620,5101,1.0,0.0,0.0,3,7,590,1030.0,2006,0.0,98118,47.5448,-122.288,1700,7750

In [23]:
X_test_clean = prep_data.clean_df(X_test)
X_test_clean

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,zipcode,lat,long
2653,4,1.50,2320,5534,1.5,0.0,0.0,7,1915,98103,47.6944,-122.355
7269,3,2.50,2460,12028,2.0,0.0,0.0,9,1996,98052,47.6910,-122.095
17851,5,2.00,2330,8586,1.0,0.0,0.0,7,1961,98133,47.7671,-122.334
11898,3,3.50,3240,23522,2.0,0.0,0.0,10,1992,98010,47.3388,-122.033
21122,4,2.50,2820,6666,2.0,0.0,0.0,9,2007,98038,47.3473,-122.031
...,...,...,...,...,...,...,...,...,...,...,...,...
5280,3,1.75,1520,7700,1.0,0.0,0.0,7,1969,98034,47.7226,-122.219
18597,3,2.50,1690,5131,1.0,0.0,0.0,7,1941,98126,47.5234,-122.380
19672,2,1.75,1250,1208,2.0,0.0,0.0,7,2007,98144,47.6004,-122.299
13215,4,2.00,1460,7254,1.0,0.0,0.0,6,1959,98178,47.5056,-122.254
20587,3,2.00,1620,5101,1.0,0.0,0.0,7,2006,98118,47.5448,-122.288

In [24]:
X_test_dist = prep_data.distance_calc(X_test_clean)
X_test_dist

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,zipcode,...,long,lat_and_long,dist_from_bellevue,dist_from_seattle,dist_from_seatac,dist_from_snoq,dist_from_vanc,dist_from_oly,dist_from_tacoma,dist_from_stevens
2653,4,1.50,2320,5534,1.5,0.0,0.0,7,1915,98103,...,-122.355,"(47.6944, -122.355)",9.739875,6.186471,17.008333,26.366130,64.544105,58.688948,30.786095,59.123835
7269,3,2.50,2460,12028,2.0,0.0,0.0,9,1996,98052,...,-122.095,"(47.691, -122.095)",7.077223,12.523581,19.407858,15.838241,60.037842,70.749504,34.405113,47.048718
17851,5,2.00,2330,8586,1.0,0.0,0.0,7,1961,98133,...,-122.334,"(47.7671, -122.334)",12.815981,11.116399,21.924901,27.913819,68.704410,59.202039,35.896475,58.022289
11898,3,3.50,3240,23522,2.0,0.0,0.0,10,1992,98010,...,-122.033,"(47.3388, -122.03299999999999)",20.091809,23.184803,15.053643,16.741160,35.985199,80.136080,20.220400,52.313657
21122,4,2.50,2820,6666,2.0,0.0,0.0,9,2007,98038,...,-122.031,"(47.3473, -122.031)",19.580087,22.776891,14.843453,16.199662,36.500727,79.983894,20.488060,51.918755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,3,1.75,1520,7700,1.0,0.0,0.0,7,1969,98034,...,-122.219,"(47.7226, -122.219)",7.912439,9.619223,19.281250,21.754337,63.870871,64.767964,34.120858,52.689099
18597,3,2.50,1690,5131,1.0,0.0,0.0,7,1941,98126,...,-122.380,"(47.5234, -122.38)",10.794847,6.143106,6.057187,25.404221,54.780336,60.300333,18.928894,62.195098
19672,2,1.75,1250,1208,2.0,0.0,0.0,7,2007,98144,...,-122.299,"(47.6004, -122.29899999999999)",5.235583,1.597643,10.386653,21.945131,57.562078,62.453669,24.954245,57.335751
13215,4,2.00,1460,7254,1.0,0.0,0.0,6,1959,98178,...,-122.254,"(47.5056, -122.25399999999999)",7.849179,7.851273,4.608191,19.639847,50.768629,66.279509,19.608475,56.864688
20587,3,2.00,1620,5101,1.0,0.0,0.0,7,2006,98118,...,-122.288,"(47.5448, -122.288)",6.497738,4.716307,6.607538,21.065130,53.905518,63.945185,21.456749,57.657639

In [25]:
X_test_hyb = prep_data.generate_hybrid_data(X_test_dist)
X_test_hyb

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,zipcode,...,beds_and_baths,squared_living,sqft_per_bedroom,dist_seatac_seattle,dist_seatac_bellevue,square_dist_seatac,square_seatac_bellevue,sqft_times_grade,water_weight,view_weight
2653,4,1.50,7.749322,5534,1.5,0.0,0.0,7,1915,98103,...,1.791759,4.095211,0.661311,11.597402,13.374104,289.283404,178.866657,3.993516,2.047605,2.047605
7269,3,2.50,7.807917,12028,2.0,0.0,0.0,9,1996,98052,...,2.014903,4.110276,0.956526,15.965720,13.242541,376.664959,175.364885,4.252363,2.055138,2.055138
17851,5,2.00,7.753624,8586,1.0,0.0,0.0,7,1961,98133,...,2.302585,4.096321,0.438722,16.520650,17.370441,480.701277,301.732226,3.994070,2.048160,2.048160
11898,3,3.50,8.083329,23522,2.0,0.0,0.0,10,1992,98010,...,2.351375,4.179607,0.991191,19.119223,17.572726,226.612175,308.800708,4.392389,2.089804,2.089804
21122,4,2.50,7.944492,6666,2.0,0.0,0.0,9,2007,98038,...,2.302585,4.144958,0.686185,18.810172,17.211770,220.328108,296.245039,4.269703,2.072479,2.072479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,3,1.75,7.326466,7700,1.0,0.0,0.0,7,1969,98034,...,1.658228,3.982986,0.892881,14.450236,13.596844,371.766589,184.874171,3.937403,1.991493,1.991493
18597,3,2.50,7.432484,5131,1.0,0.0,0.0,7,1941,98126,...,2.014903,4.011720,0.907248,6.100147,8.426017,36.689519,70.997764,3.951770,2.005860,2.005860
19672,2,1.75,7.130899,1208,2.0,0.0,0.0,7,2007,98144,...,1.252763,3.928875,1.271290,5.992148,7.811118,107.882568,61.013567,3.910347,1.964437,1.964437
13215,4,2.00,7.286192,7254,1.0,0.0,0.0,6,1959,98178,...,2.079442,3.971962,0.599687,6.229732,6.228685,21.235421,38.796514,3.777740,1.985981,1.985981
20587,3,2.00,7.390181,5101,1.0,0.0,0.0,7,2006,98118,...,1.791759,4.000305,0.901540,5.661923,6.552638,43.659564,42.937069,3.946062,2.000152,2.000152

In [26]:
X_test_sc = prep_data.transform_standard_scale(ss, X_test_hyb)
X_test_sc

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,dist_from_bellevue,...,squared_living,sqft_per_bedroom,dist_seatac_seattle,dist_seatac_bellevue,square_dist_seatac,square_seatac_bellevue,sqft_times_grade,water_weight,view_weight,zipcode
2653,0.695019,-0.805412,0.470069,-0.233514,0.009247,-0.082691,-0.302144,-0.561639,-1.908105,-0.193957,...,0.489943,-0.728330,-0.162048,0.310396,0.444271,0.125853,-0.263133,0.274487,-0.229877,98103
7269,-0.411777,0.502646,0.609093,-0.074808,0.933799,-0.082691,-0.302144,1.150229,0.853495,-0.670212,...,0.624322,0.461048,0.716187,0.279038,0.950125,0.097484,1.073538,0.365345,-0.209913,98052
17851,1.801815,-0.151383,0.480274,-0.158926,-0.915305,-0.082691,-0.302144,-0.561639,-0.339789,0.356251,...,0.499841,-1.625109,0.827753,1.262917,1.552393,1.121208,-0.260268,0.281180,-0.228407,98133
11898,-0.411777,1.810703,1.262551,0.206091,0.933799,-0.082691,-0.302144,2.006164,0.717120,1.657642,...,1.242729,0.600711,1.350187,1.311131,0.081466,1.178471,1.796625,0.783472,-0.118036,98010
21122,0.695019,0.502646,0.933140,-0.205849,0.933799,-0.082691,-0.302144,1.150229,1.228527,1.566113,...,0.933667,-0.628119,1.288054,1.225098,0.045088,1.076755,1.163085,0.574504,-0.163953,98038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,-0.411777,-0.478398,-0.533226,-0.180579,-0.915305,-0.082691,-0.302144,-0.561639,-0.067038,-0.520821,...,-0.511056,0.204632,0.411504,0.363486,0.921768,0.174521,-0.552894,-0.402322,-0.378596,98034
18597,-0.411777,0.502646,-0.281681,-0.243362,-0.915305,-0.082691,-0.302144,-0.561639,-1.021666,-0.005259,...,-0.254762,0.262514,-1.267251,-0.868973,-1.018000,-0.748011,-0.478704,-0.229033,-0.340518,98126
19672,-1.518573,-0.478398,-0.997239,-0.339236,0.933799,-0.082691,-0.302144,-0.561639,1.228527,-0.999617,...,-0.993713,1.729189,-1.288963,-1.015533,-0.605862,-0.828895,-0.692609,-0.728663,-0.450304,98144
13215,0.695019,-0.151383,-0.628782,-0.191479,-0.915305,-0.082691,-0.302144,-1.417574,-0.407977,-0.532136,...,-0.609390,-0.976606,-1.241198,-1.392704,-1.107464,-1.008879,-1.377383,-0.468809,-0.393205,98178
20587,-0.411777,-0.151383,-0.382050,-0.244096,-0.915305,-0.082691,-0.302144,-0.561639,1.194433,-0.773862,...,-0.356585,0.239518,-1.355354,-1.315490,-0.977650,-0.975336,-0.508179,-0.297879,-0.355646,98118

In [27]:
X_test_ohe = prep_data.transform_ohe(ohe, X_test_sc)
X_test_ohe

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,yr_built,dist_from_bellevue,...,x0_98146,x0_98148,x0_98155,x0_98166,x0_98168,x0_98177,x0_98178,x0_98188,x0_98198,x0_98199
2653,0.695019,-0.805412,0.470069,-0.233514,0.009247,-0.082691,-0.302144,-0.561639,-1.908105,-0.193957,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7269,-0.411777,0.502646,0.609093,-0.074808,0.933799,-0.082691,-0.302144,1.150229,0.853495,-0.670212,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17851,1.801815,-0.151383,0.480274,-0.158926,-0.915305,-0.082691,-0.302144,-0.561639,-0.339789,0.356251,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11898,-0.411777,1.810703,1.262551,0.206091,0.933799,-0.082691,-0.302144,2.006164,0.717120,1.657642,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21122,0.695019,0.502646,0.933140,-0.205849,0.933799,-0.082691,-0.302144,1.150229,1.228527,1.566113,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5280,-0.411777,-0.478398,-0.533226,-0.180579,-0.915305,-0.082691,-0.302144,-0.561639,-0.067038,-0.520821,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18597,-0.411777,0.502646,-0.281681,-0.243362,-0.915305,-0.082691,-0.302144,-0.561639,-1.021666,-0.005259,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19672,-1.518573,-0.478398,-0.997239,-0.339236,0.933799,-0.082691,-0.302144,-0.561639,1.228527,-0.999617,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13215,0.695019,-0.151383,-0.628782,-0.191479,-0.915305,-0.082691,-0.302144,-1.417574,-0.407977,-0.532136,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20587,-0.411777,-0.151383,-0.382050,-0.244096,-0.915305,-0.082691,-0.302144,-0.561639,1.194433,-0.773862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
X_test_ohe.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'grade', 'yr_built', 'dist_from_bellevue',
       'dist_from_seattle', 'dist_from_seatac', 'dist_from_snoq',
       'dist_from_vanc', 'dist_from_oly', 'dist_from_tacoma',
       'dist_from_stevens', 'beds_and_baths', 'squared_living',
       'sqft_per_bedroom', 'dist_seatac_seattle', 'dist_seatac_bellevue',
       'square_dist_seatac', 'square_seatac_bellevue', 'sqft_times_grade',
       'water_weight', 'view_weight', 'x0_98002', 'x0_98003', 'x0_98004',
       'x0_98005', 'x0_98006', 'x0_98007', 'x0_98008', 'x0_98010', 'x0_98011',
       'x0_98014', 'x0_98019', 'x0_98022', 'x0_98023', 'x0_98024', 'x0_98027',
       'x0_98028', 'x0_98029', 'x0_98030', 'x0_98031', 'x0_98032', 'x0_98033',
       'x0_98034', 'x0_98038', 'x0_98039', 'x0_98040', 'x0_98042', 'x0_98045',
       'x0_98052', 'x0_98053', 'x0_98055', 'x0_98056', 'x0_98058', 'x0_98059',
       'x0_98065', 'x0_98070', 'x0_98072', 'x0_98074', 'x0_98075', 'x0_98077',
       'x0_98092', 'x0_98102', 'x0_98103', 'x0_98105', 'x0_98106', 'x0_98107',
       'x0_98108', 'x0_98109', 'x0_98112', 'x0_98115', 'x0_98116', 'x0_98117',
       'x0_98118', 'x0_98119', 'x0_98122', 'x0_98125', 'x0_98126', 'x0_98133',
       'x0_98136', 'x0_98144', 'x0_98146', 'x0_98148', 'x0_98155', 'x0_98166',
       'x0_98168', 'x0_98177', 'x0_98178', 'x0_98188', 'x0_98198', 'x0_98199'],
      dtype='object')

In [29]:
X_train_ohe.columns == X_test_ohe.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [30]:
import predict_price

In [31]:
X_train_ohe.shape

(16197, 96)

In [32]:
y_train.shape

(16197,)

In [33]:
X_test_ohe.shape, y_test.shape

((5399, 96), (5400,))

In [34]:
y_test.index

Int64Index([ 2653,  7269, 17851, 11898, 21122,  6704,  2414,  8382, 15734,
             2552,
            ...
            14855,  7793,  4124,  2474,  1534,  5280, 18597, 19672, 13215,
            20587],
           dtype='int64', length=5400)

In [35]:
y_reduced = y_test[y_test.index == X_test_ohe.index]

ValueError: Lengths must match to compare

In [ ]:
results = predict_price.calc_score_rsme(X_train_ohe, )